$gray_q:rgb(229,229,229);
$gray_time:rgb(119,119,119);
$nav_color:rgb(102,102,102);
$black_txt:rgb(51,51,51);
$black_q:rgb(68,68,68);
$black_s:rgb(5,5,5);
$blue:rgb(50,135,244);
$pd_w:30rpx;
$pd_t:20rpx;
